@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Work+Sans:wght@500;600;700;800;900&display=swap");

:root {
  --ff-title: "Work Sans", sans-serif;
  --ff-body: "Inter", sans-serif;

  /* !=====small screen font-sizes===== */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;

  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;

  --br: 1rem;
}

@media (min-width: 40rem) {
  :root {
    --fs-500: 1.75rem;
    --fs-600: 2.125rem;
    --fs-900: 4.25rem;
  }
}

/* !=====Reset===== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.3;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: var(--br);
}

body {
  line-height: 1.6;
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: 300;
}

.bg-primary-300 {
  background-color: var(--clr-primary-300);
  border-radius: 1rem;
}

/* !=====Typography===== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
  font-weight: var(--fw-700);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
  color: var(--clr-neutral-900);
}

a:hover,
a:focus {
  color: var(--clr-neutral-500);
}

/* !=====Utilites===== */

.logo {
  font-size: 2rem;
  font-weight: var(--fw-400);
}

.pl {
  padding-left: 4rem;
}

.br {
  border-radius: var(--br);
}

.a-self {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-500 {
  font-size: var(--fs-500);
}

.page-title {
  font-size: var(--fs-900);
}

.page-intro {
  font-size: var(--fs-600);
}

.section-title {
  font-size: var(--fs-600);
  color: var(--clr-neutral-400);
}

.section-subtitle {
  font-size: var(--fs-600);
}

.btn {
  display: inline-block;
  padding: 8px 34px;
  border: 2px solid #252422;
  border-radius: 30px;
  font-weight: 600;
  background: #252422;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  color: #252422;
  background: white;
}

.bg-light {
  background: #efeeee;
}

.bg-dark {
  background: #252422;
  color: #fff;
}

.eq-space {
  padding: 10rem 0;
}

.a-center {
  margin: 0 auto;
}

/* !=====General layout===== */

section {
  padding: 2.5rem 0;
}

@media (min-width: 40rem) {
  section {
    padding: 3.5rem 0;
  }
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: var(--flow-space, var(--br));
}

.flow-content--small {
  --flow-space: 1rem;
}

.flow-content--large {
  --flow-space: 3rem;
}

.flow-content--xl {
  --flow-space: 6rem;
}

.split {
  display: flex;
  flex-direction: column;
}

.split > * + * {
  margin: 4rem 0 0 0;
}

.split > * {
  flex-basis: 100%;
}

@media (min-width: 40rem) {
  .split {
    flex-direction: row;
  }

  .split > * + * {
    margin: 0 0 0 2.5rem;
  }
}

.large-space {
  margin-top: 4rem;
}

.xl-space {
  margin-top: 8rem;
}

/* ! =====Navbar===== */

header {
  display: flex;
  margin-top: var(--br);
}

.nav {
  margin: 0;
  padding: 2px;
  list-style: none;

  display: flex;
  flex-grow: 1;
}
.nav h1 {
  align-self: center;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 3rem;

  display: flex;
  flex-grow: 1;
}

.nav__list li {
  align-self: center;
}

.nav__list li:nth-of-type(1) {
  margin-left: auto;
}

.nav__btn {
  padding: 8px 24px;
}

/* !=====Second section===== */

.card-section {
  border-radius: var(--br);
  margin: 0 4rem;
  display: flex;
}

/* !=====Speaker list section===== */

.speaker-cards {
  display: flex;
  flex-wrap: wrap;
}

.speaker {
  text-align: left;
  flex: 1 1 45%;
  margin: 1em;
  display: flex;
  border-radius: var(--br);
  align-items: center;
  padding: 0.5em 2em 0.5em 0.5em;

  gap: 1rem;
}

.speaker img {
  width: 10rem;
  border-radius: var(--br);
}

.speaker .name {
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 900;
  color: var(--pop);
  margin: 0;
}

.speaker .position {
  margin-top: 0;
  font-weight: 700;
  opacity: 0.8;
}

.speaker--mirrored {
  padding: 0.5em 0.5em 0.5em 2em;
}

.speaker--mirrored img {
  order: 2;
}

/* !=====FAQ===== */

/* !Footer */
footer {
  color: var(--clr-neutral-200);
}
.footer__logo {
  color: var(--clr-neutral-200);
}

.footer__logo:hover {
  color: var(--clr-neutral-300);
}

.footer__links:nth-of-type(2) {
  margin-left: auto;
}

.footer__list a {
  color: var(--clr-neutral-200);
  font-weight: var(--fw-400);
}

.footer__list a:hover {
  color: var(--clr-neutral-300);
}

.social-links a {
  text-decoration: underline;
  font-weight: var(--fw-400);
}
